<div class="form-container">
    <h2>Add New Product</h2>
  
    <form (ngSubmit)="addProduct()">
      <label for="name">Product Name:</label>
      <input id="name" [(ngModel)]="product.name" name="name" required>
  
      <label for="price">Price:</label>
      <input id="price" [(ngModel)]="product.price" name="price" type="number" required>
  
      <label for="description">Description:</label>
      <input id="description" [(ngModel)]="product.description" name="description" type="text" required>
  
      <div class="buttons">
        <button type="submit" class="save-btn">Save</button>
        <button type="button" class="cancel-btn" (click)="router.navigate(['/'])">Cancel</button>
      </div>
    </form>
  </div>
  